@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body,
#root {
  height: 100%;
  background-color: rgb(10, 10, 10);
}

#root {
  padding: 8px;
}
.active {
  color: white;
}
